<!-- This is this component's template. -->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <title>CitySwing DC</title>
    <!--script(src="https://use.fontawesome.com/168367c54f.js")-->
    <!--link(rel='stylesheet', href='/stylesheets/main.css')-->
  </head>
  <body>
    <app-navbar></app-navbar>
    <!-- This is the interpolation syntax -->
    <h1>{{title}}</h1> 
    <!--block content-->
    <!--include includes/footer-->
    <!--script(src='javascripts/all.js')-->
  </body>
</html>
