<div class="flex flex--narrow" id="index_flex">
  <div class="flex__item">
    <h1>Local</h1>
    <p>DC's only in-town Friday night swing dance.</p>
  </div>
  <div class="flex__item">
    <h1>Friendly</h1>
    <p>Free beginner lesson before every dance!</p>
  </div>
  <div class="flex__item">
    <h1>Big</h1>
    <p>Our large floor ensures you always have room to move.</p>
  </div>
  <div class="flex__item">
    <h1>Eclectic</h1>
    <p>Our Lindy hop music playlist has the most variety in the area.</p>
  </div>
  <div class="flex__item">
    <h1>Diverse</h1>
    <p>Our regular crowd includes people of all ages and skill levels.  </p>
  </div>
  <div class="flex__item">
    <h1>Declicious</h1>
    <p>We have apple pie at (almost) every dance.  </p>
  </div>
</div>